.userCard {
    background-color: royalblue;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.courseDiv {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: hotpink;
}

.specialDiv {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rebeccapurple;
}